@CHARSET "ISO-8859-1";

.ult-hidden {
	display: none;
}

.ult-fieldset {}
.ult-fieldlist-content {}

.ult-leaguelist {}
.ult-leaguelist-container {}
.ult-leaguecreate-container {}
.ult-leagueinfo-container {}

.ult-divisionlist-container {}

.ult-teamlist {}


.ult-fieldset-wrapper {}
.ult-setting-wrapper {}


.ult-passed {
  color: #00dd00;
  font-weight: normal;
}

.ult-navlink {
  text-align: right;
}

.ult_modlogoimage {
  float: left;
  padding-left: 7px;
  padding-right: 15px;
  padding-top: 7px;
}

.ult_modlogocontainer {
  border: 1px solid #ccc;
  float: left;
  height: 50px;
  margin: 1em;
  overflow: hidden;
  width: 300px;
}

.ult_important {
  color: #cc0000;
  font-weight: bold;
}

.ult_notice {
  color: #009900;
  font-weight: bold;
}

.ult_smaller_heading {
}

input.form-submit[disabled]{
  disabled:true;
}

div.ult_gameinfo_left {
  float: left;
  padding-top: 10px;
  width: 65%;
}

div.ult_gameinfo_right {
  float: left;
  padding-left: 25px;
  width: 30%;
}

.ult_gameinfo_logo {
  align: center;
  height: 50px;
  width: 50px;
}

.ult_gameinfo_logo_header {
}

.ult_gameinfo_teamname,
.ult_gameinfo_teamname_header {
  text-align: left;
  padding-left: 10px;
}

.ult_gameinfo_teamscore,
.ult_gameinfo_teamscore_header {
  text-align: center;
  width: 40px;
}
.ult_gameinfo_result,
.ult_gameinfo_result_header {
  text-align: center;
  width: 90px;
}

.ult_spirit_result,
.ult_spirit_result_header {
  text-align: center;
  width: 40px;
}

.ult_gameinfo_date {
}
.ult_gameinfo_league {
}
.ult_gameinfo_field {
}
.ult_gameinfo_submit {
}
.ult_gametableview_content {
}

.ult_gametableview_content table {
  margin: 0;
}

div.ult_singlebuttonform {
  display: inline;
  float: left;
}

html.js .ult_next-button {
	display: none;
}

#edit-gamefield-wrapper,
ult_dependent-dropdown-wrapper {
	display: inline-block;
}

.ult_fieldlistcontainer {
}

.ult_fieldlistcontainer .form-item label.option {
  float: left;
  width: 50%;
}


.ult_fieldlistcontainer .form-item .description {
  clear: both;
}
